@import url("reset.css");

body { text-align: justify; font-family: Go Medium, serif;
	   line-height: 1.2 }

.author, .organization { display: block; text-align: left;
          font-size: 90%; font-family: Go Regular, sans-serif; font-style: italic; padding: 0.5em }
.author { float: right; padding-top: 1.5em }
.organization { float: left }
.organization:first-line {font-weight: bold}

h1, h2, h3, h4 { font-weight: bold; color: #258; line-height: 1.44;
                 -moz-hyphens: none; -webkit-hyphens: none }
h3 { margin-bottom: 0.3em; margin-top: 0.7em }
h2 { margin-bottom: 0.4em }
h2 > span { padding-bottom: 0.05em;
	        padding-left: 0.1em; padding-right: 0.6em;
            border-bottom: 0.1em dotted #58c}
h1 { text-width: 100%; font-size: 173%; 
	 font-family: Go Regular, sans-serif; font-variant: small-caps;
     text-align: center; line-height: 1.2 }
h1 > .subtitle {font-size: 80%; line-height: 1.0}
h2 { font-size: 144%; text-align: left }
h3 { font-size: 109%; text-align: left }
h4 { font-size: 90%; font-style: italic; text-align: left}

div.region { min-height: 4em; 
             margin-top: 0.5em; margin-left: 0.5em; 
             padding-top: 0.5em; padding-left: 0.8em; padding-right: 0.2em;
             border-left: 0.1em solid black; border-top: 0.1em solid black;
			 -moz-hyphens: auto;
			 -webkit-hyphens: auto }

div.tosafot { float: left; width: 33%;
              padding: 0.5em; padding-top: 6em }
div.rashi { float: right; width: 33%; 
              padding: 0.5em; padding-top: 3em }

div.guf { width: 33%; margin-left: 33%; padding: 0.5em;
          background-color: white }

div.mashal { border-width: 0.2em; font-size: 109% }

div.nimshal { border-left: 0.4em double black }

div.musar { margin-left: 15%; margin-right: 15%; line-height: 1.44; font-size: 120%; 
            border-left: 0.4em double black; border-top: 0.4em double black }
div.barcode { float: right; width: 10%; background-color: white; padding: 0.25em; }

div.maximized { font-size: 200%;
                position: absolute; width: 99%; height: 100%;
                padding: 0.5%;
                margin: 0%;
                background-color: white;
                top: 9%; left: 0% }

p, table { margin-bottom: 0.4em; margin-top: 0.4em }
th { font-weight: bold }
td, th { padding: 0.05em 0.2em; text-align: center }
ol, ul  { margin-bottom: 0.3em; margin-top: 0.3em; list-style-position: outside }
ul { list-style-type: square; margin-left: 0.5em }
ol { list-style-type: decimal }
ol ol { list-style-type: lower-latin }
li { margin-left: 1em; margin-bottom: 0.1em; margin-top: 0.1em }
ul.checklist { list-style-type: none }
ul.checklist > li:before { content: '□'; padding-right: 0.3em }

i { font-style: italic }
b { font-weight: bold }
tt { font-family: Go Mono, monospace}
em { background-color: #ffc; border-bottom: 1pt solid #dd0; padding: 0em 0.1em; }
strong { background-color: #fdd; border-bottom: 3pt double #e00; padding: 0em 0.1em; }
strike { text-decoration: line-through; color: #900 }

p.algorithm { font-family: Go Mono, monospace; font-size: 90%; white-space: pre; line-height: 1.44 }
kwd { text-transform: lowercase; font-weight: bold }
fun { font-variant: small-caps }
comment { font-style: italic; color: #66f }
comment::before { content: "      \25b9\ " }
p.algorithm span.lineno { color: #bbb }

code { font-family: Go Mono, monospace; font-size: 80%; line-height: 1.44 }
